# Exclude Q1 directory and its contents
Q1/

# Exclude specific Python files
run_analytics.py
updateJSON.py

# Exclude model configuration file
2025-09-09-model.txt

# Exclude csv
invites.csv

AIB_presentation_list backup.jsonAIB_presentation_list_cleaned_abstracts backup.jsonAIB_presentation_list_enhanced.jsonAIB_presentation_list_with_abstracts.jsonAIB_presentation_list.jsonclean_abstracts.py

conference-search backup.html
create_enhanced_json.py
extract_pdf_abstracts.py